@model List<Cancha>
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
    
<h1>Listado de Canchas Reservadas</h1>


<div class="container">
    <button type="button" class="btn btn-green marginBotTop25px"><a class="link" asp-action="Create" asp-controller="Canchas">Agregar Reserva</a></button>

    
    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Hora</th>
            <th scope="col">Celular</th>
            <th class="icon"><i class="far fa-edit"></i></th>
            <th class="icon"><i class="far fa-trash-alt"></i></th>
            <th class="icon"><i class="fas fa-dollar-sign"></i></th>

        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.nombreCliente</td>
                <td>@item.Hora</td>
                <td>@item.numeroCelular</td>
                <td class="icon"><button type="button" class="b btn btn-warning"><a class="link" asp-action="Editar" asp-controller="Canchas" asp-route-id="@item.ID">Editar</a></button></td>
                <td class="icon"><button type="button" class="b btn btn-danger"><a class="link" asp-action="Eliminar" asp-controller="Canchas" asp-route-id="@item.ID">Eliminar</a></button></td>
                <td class="icon"><button type="button" class="b btn btn-success"><a class="link" asp-action="Eliminar" asp-controller="Canchas" asp-route-id="@item.ID">Pagado</a></button></td>
                
            </tr>
        }
    </table>
  
   
</div>