@model List<Cliente>
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
    
<h1>Listado de Clientes</h1>


<div class="container">
    @* <a asp-action="Create" asp-controller="Clientes">Agregar Nuevo Cliente</a> *@
    <button type="button" class="btn btn-green marginBotTop25px"><a class="link" asp-action="Create" asp-controller="Clientes">Agregar Nuevo Cliente</a></button>

    @* <button asp-action="Create" asp-controller="Clientes">Agregar Cliente</button> *@
    
    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Celular</th>
            <th class="icon"><i class="far fa-edit"></i></th>
            <th class="icon"><i class="far fa-trash-alt"></i></th>
        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.numeroCelular</td>
                @* <td><a asp-action="Editar" asp-controller="Clientes" asp-route-id="@item.ID">Editar</a></td> *@
                @* <td><a asp-action="Editar" asp-controller="Clientes" asp-route-id="@item.ID">Editar</a></td> *@
                <td class="icon"><button type="button" class="b btn btn-warning"><a class="link" asp-action="Editar" asp-controller="Clientes" asp-route-id="@item.ID">Editar</a></button></td>
                <td class="icon"><button type="button" class="b btn btn-danger"><a class="link" asp-action="Eliminar" asp-controller="Clientes" asp-route-id="@item.ID">Eliminar</a></button></td>
                
                
            </tr>
        }
    </table>
  
   
</div>